.DS_Store
.classpath
*.factorypath
.project
.settings
target/
*.swp
*.log
*.class
Thumbs.db
.idea/
.vscode/
*.swo

# Package Files #
*.jar
*.war
*.ear
/build


# 依赖目录
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编译产物
build/
dist/
out/

# 日志
logs/
*.log