<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxy.chukonu.mybatis.mapper.account.AccountMapper">
	<select id="findAccount" resultType="account">
		select * from "ACCOUNTS" where "ID" = #{id}
	</select>
	
	<select id="getBalance" resultType="float">
	    select "ACC_BALANCE" from "ACCOUNTS" where "ACC_NUMBER" = #{acctNum}
	</select>
	
	<update id="deposit" parameterType="account">
	    UPDATE "ACCOUNTS" SET "ACC_BALANCE" = "ACC_BALANCE" + #{amount} WHERE "ACC_NUMBER" = #{acctNum}
	</update>
	
	<update id="withdraw" parameterType="account">
	    UPDATE "ACCOUNTS" SET "ACC_BALANCE" = "ACC_BALANCE" - #{amount} WHERE "ACC_NUMBER" = #{acctNum}
	</update>
</mapper>