<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="https://www.springframework.org/schema/beans"        
    xmlns:mvc="https://www.springframework.org/schema/mvc"     
    xmlns:tx="https://www.springframework.org/schema/tx"  
    xmlns:aop="https://www.springframework.org/schema/aop"  
    xmlns:context="https://www.springframework.org/schema/context"  
    xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"              
    xsi:schemaLocation="                                               
            https://www.springframework.org/schema/beans    
            https://www.springframework.org/schema/beans/spring-beans.xsd    
            https://www.springframework.org/schema/context     
            https://www.springframework.org/schema/context/spring-context.xsd    
            https://www.springframework.org/schema/mvc    
            https://www.springframework.org/schema/mvc/spring-mvc.xsd  
            https://www.springframework.org/schema/tx   
            https://www.springframework.org/schema/tx/spring-tx.xsd  
            https://www.springframework.org/schema/aop  
            https://www.springframework.org/schema/aop/spring-aop.xsd "  
    default-autowire="byName">  
    
    <context:annotation-config/>
    <context:component-scan base-package="com.yxy.chukonu.mybatis.*"/>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/banksystem" />
		<property name="username" value="postgres" />
		<property name="password" value="password" />
		<property name="maxActive" value="255" />
		<property name="maxWait" value="10000" />
	</bean> 

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>
	
	<!-- the priority of SqlSessionTemplate is higher than SqlSessionFactory
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"/>
	</bean> 
	-->
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.yxy.chukonu.mybatis.mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
		<property name="annotationClass" value="org.springframework.stereotype.Repository"/>
	</bean>
	
	
	

</beans>  
